<p><%= @tweet.content %></p>

<p><a href="/tweets/<%=@tweet.id%>/edit"><button type="button">Edit Tweet</button></a></p>

<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>
