<h2>Sign Up</h2>

<form action="/signup" method="POST">
  <h3>Create Your Account:</h3>
  <p>Name: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="Create Account" id="submit">
</form>
