<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <%= yield %>
    </div>
    <% if logged_in? %>
       <p><a href="/logout"><button type="button">Log Out</button></a></p>
     <% end %>
  </body>
</html>
